.outer-container{
    height:50vh;
    background-color: black;
    display:flex;
}

.left-container,.right-container{
    width: 50vw;
    height: 50vh;
}

/* p{
    color:white;
    font-size:20px;
    font-weight:bold;
} */


.left-container{
    display:flex;
    justify-content: end;
    align-items: start;
    flex-direction:column;
    
}
.left-text{
    align-items: center;
    text-align: center;
    font-size:12px;
    max-width: 18vw;
    margin-bottom:10px;
    transform: translateX(5vw);
    
}

.left-text-bottom{
    font-weight:400;
    font-size:10px;
    align-items: center;
    text-align: center;
    transform: translateX(5vw);
    margin-bottom:20px;
}
.left-image{
    width:15vw;
    height:30vh;
    transform: translateX(4.5vw);
    
}

.right-container{
    
}

.right-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: start;
   

}
.right-text{
    color:white;
    font-size:20px;
    font-weight:bold;
  
    text-align: left;
    margin-bottom:20px;
    width:35vw;
}


.right-division{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    
    
    flex-direction: row;
}

.right-division p{
    font-size:15px;
}


.selected-projects{
    width:25.5vw;
    
    
}

.selected-projects p{
    margin-bottom:20px;
}
.selected-projects h2{
    color:grey;
    font-size:12px;
    margin-bottom:10px;
}

.selected-projects h1{
    color:white;
    font-size:10px;
    max-width:20vw;
    text-align: left;

}
.socials{
    margin-top:-35px;
}


button{
    width: 400px;
    height: 40px;
    border-radius: 30px;
    background: #f7f5f5;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-bottom:30px
}

.social-icons{
    list-style: none;
    padding: 0;
    margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

}

.social-icons li p{
    font-weight:400;
    font-size:12px;
    margin-right:20px;
    
}

.social-icons:nth-child(1) li,.social-icons:nth-child(2) li {

    margin-right: 10px;
  }


  .social-icons{
    margin-top:20px;
  }